html,
body {
	font-family: Arial, Verdana, sans-serif;
	font-size: 15px;
	line-height: 1.5;
	margin: 0;
}

input[type="text"], input[type="password"]{
  padding: 3px 5px 3px 10px;
  margin: 10px;
	outline: none;
}

.btn {
  border: none;
  background: rgb(220,20,60);
  background-image: -webkit-linear-gradient(top, rgb(220,20,60)rgb(220,20,60)rgb(220,20,60),rgb(220,20,60));
  background-image: -moz-linear-gradient(top, rgb(220,20,60)rgb(220,20,60), rgb(220,20,60));
  background-image: -ms-linear-gradient(top, rgb(220,20,60), rgb(220,20,60));
  background-image: -o-linear-gradient(top, rgb(220,20,60), rgb(220,20,60));
  background-image: linear-gradient(to bottom, rgb(220,20,60), rgb(220,20,60));
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  font-family: Arial;
  color: #ffffff;
  font-size: 15px;
  padding: 4px 14px 5px 14px;
  text-decoration: none;
  cursor: pointer;
}

.btn:hover {
  background: #206088;
  background-image: -webkit-linear-gradient(top, #2f88c3, #206088);
  background-image: -moz-linear-gradient(top, #2f88c3, #206088);
  background-image: -ms-linear-gradient(top, #2f88c3, #206088);
  background-image: -o-linear-gradient(top, #2f88c3, #206088);
  background-image: linear-gradient(to bottom, #2f88c3, #206088);
  text-decoration: none;
}


.login_box{
  width: 539px;
  position: absolute;
  top: 11px;
  right: 38px;
}


header {
	background-color: #070f13;
	position: absolute;
	display: block;
	width: 305px;
	left: 0;
	padding-bottom: 10%;
	height: 100%;
}
main{
	margin: 0 0 0 306px;
	padding: 30px 30px;
	background-color: beige;
	height: 100%;
}

a {
	text-decoration: none;
}

h1 {
	display: inline-block;
	width: 100%;
	text-align: center;
}
.navtop{
	margin-bottom: 0;
	background-color: rgb(101,180,194);
	display: block;
	position: relative;
	border-radius: 0px;
}
.carre{
	width: 305px;
	background-color: crimson;
	color: white;
}
.page{
	background-color: white;
	padding:0 20px 0 20px;
}
#logo {
	position: absolute;
	top: 10px;
	right: 10px;
	padding: 10px;
}
.row{
	height: 172px;
	padding: 10px;
	background-color: white;
	margin-bottom: 30px;
}
.row h2{
	color: red;
}
.cnt_right {
	width: 1025px;
	float: right;
}

.bouton:hover {
	background: #070f13;
	text-decoration: none;
	color: #fff;
}

header p {
	color: #708090;
	position: absolute;
	bottom: 10px;
	margin-left: 40px;
}

#login {

}

.champ {
	display: inline-block;
}

li {
	text-decoration: none;
	color: white;
	border-bottom: solid 1px grey;
	border-top: solid 1px grey;
	list-style-type: none;
	padding:20px 0px 20px 75px;
}

li a:link {
	color: white;
	text-decoration: none;
}

ul {
	margin: 50px 0px 0px 0px;
	padding: 0;
}

body {
	background-image: url(../images/symphony.png);
}

header img {
	width: 175px;
	height: 150px;
}

sidebar {
	margin: 140px 0px 0px 0px;
	background-color: #070F13;
}

a:link {
	text-decoration: none;
	color: black;
}

a:hover {
	text-decoration: none;
}

a {
	color: white;
}
